    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2"><a href="#/a"><div class="letter red">A</div></a></div>
            <div class="col-sm-2"><a href="#/b"><div class="letter light-blue">B</div></a></div>
            <div class="col-sm-2"><a href="#/c"><div class="letter yellow">C</div></a></div>
            <div class="col-sm-2"><a href="#/d"><div class="letter dark-blue">D</div></a></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><a href="#/e"><div class="letter green">E</div></a></div>
            <div class="col-sm-2"><a href="#/f"><div class="letter yellow">F</div></a></div>
            <div class="col-sm-2"><a href="#/g"><div class="letter dark-blue">G</div></a></div>
            <div class="col-sm-2"><a href="#/h"><div class="letter red">H</div></a></div>
            <div class="col-sm-2"><a href="#/i"><div class="letter light-blue">I</div></a></div>
            <div class="col-sm-2"><a href="#/j"><div class="letter yellow">J</div></a></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><a href="#/k"><div class="letter dark-blue">K</div></a></div>
            <div class="col-sm-2"><a href="#/l"><div class="letter light-blue">L</div></a></div>
            <div class="col-sm-2"><a href="#/m"><div class="letter yellow">M</div></a></div>
            <div class="col-sm-2"><a href="#/n"><div class="letter green">N</div></a></div>
            <div class="col-sm-2"><a href="#/o"><div class="letter dark-blue">O</div></a></div>
            <div class="col-sm-2"><a href="#/p"><div class="letter red">P</div></a></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><a href="#/q"><div class="letter light-blue">Q</div></a></div>
            <div class="col-sm-2"><a href="#/r"><div class="letter green">R</div></a></div>
            <div class="col-sm-2"><a href="#/s"><div class="letter red">S</div></a></div>
            <div class="col-sm-2"><a href="#/t"><div class="letter light-blue">T</div></a></div>
            <div class="col-sm-2"><a href="#/u"><div class="letter yellow">U</div></a></div>
            <div class="col-sm-2"><a href="#/v"><div class="letter dark-blue">V</div></a></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2"><a href="#/w"><div class="letter dark-blue">W</div></a></div>
            <div class="col-sm-2"><a href="#/x"><div class="letter light-blue">X</div></a></div>
            <div class="col-sm-2"><a href="#/y"><div class="letter green">Y</div></a></div>
            <div class="col-sm-2"><a href="#/z"><div class="letter red">Z</div></a></div>
        </div>
    </div>
